/*THIS STYLESHEET USES THE BEM ARCHITECTURE*/

html, body {
  margin: 0px;
  padding: 0px;
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

/*INPUT AND BUTTON FOCUS STYLES*/
input:focus {
	outline: 2px dotted #f6891f;
}

img:focus {
	outline: 2px dotted #f6891f;
}

button:focus {
	outline: 2px dotted #f6891f;
}

p:focus {
	outline: 2px dotted #f6891f;
}

li:focus {
	outline: 2px dotted #f6891f;
}

i:focus {
	outline: 2px dotted #f6891f;
}

a:focus {
	outline: 2px dotted #f6891f;
}

/*
////////////////////////////////////////////////////////////////////////////////
	NAVBAR COMPONENT STYLES
////////////////////////////////////////////////////////////////////////////////
*/
/*MAIN SITE NAVBAR*/
.app-main-nav {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	position: fixed;
	display: grid;
    grid-template-columns: 20% 50% 20%;
    padding: 10px 50px;
    border: 0px solid transparent;
    z-index: 9999;
}

/*NAV LOGO*/
.app-main-nav__nav-logo {
	width: 45px;
	height: auto;
	cursor: pointer;
	margin-top: 3px;
}

/*NAV RIGHT WRAPPER*/
.app-main-nav__nav-mid-wrapper {
	width: 100%;
	height: auto;	
	text-align: right;
	/*border: 1px dashed red;*/
}

/*NAV LINKS UL*/
.nav-mid-wrapper__links-ul {
	list-style: none;
}

/*NAV INDIVIDUAL LINK*/
.links-ul__link {
	display: inline-block;
	margin-right: 5%;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
	letter-spacing: 1.2px;
	font-size: 14px;
}

/*LOGIN/CART SECTION*/
.app-main-nav__login-cart-section {
	width: 100%;
	height: auto;
	/*border: 1px dashed red;*/
	text-align: right;
}

/*LOGIN LABEL*/
.login-cart-section__login-label {
	padding: 0;
	font-weight: lighter;
	letter-spacing: 1.2px;
	cursor: pointer;
	display: inline-block;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
}

/*CART LABEL*/
.login-cart-section__cart-label {
	margin-left: 20px;
	padding: 0;
	font-weight: lighter;
	letter-spacing: 1.2px;
	cursor: pointer;
	display: inline-block;
}

/*CART COUNT LABEL*/
#login-cart-section__cart-count-label {
	width: 30px;
	height: 30px;
	border-radius: 0px;
	background-color: #f2f2f2;
	display: inline-block;
	position: relative;
	right: -10px;
	top: 0px;
	color: black;
	padding: 6px 3px;
	text-align: center;
	box-sizing: border-box;
}

/*MAIN HOME PAGE*/
.app-main-homepage {
	width: auto;
	height: auto;
	padding-top: 50px;
	box-sizing: border-box;
	background-color: #666;
}

/*MAIN SPLASHER SECTION*/
.app-main-homepage__main-splasher-section {
	width: 100%;
	height: 100vh;
	background-image: url(../images/main-splasher.jp2);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: grid;
    grid-template-columns: 40% 60%;
    padding: 0px 50px;
}

/*LEFT INTRO SECTION ON MAIN SPLASHER*/
.main-splasher-section__left-intro-section {
	width: 90%;
	height: auto;
	margin-top: 60px;
	border-radius: 0px;
	border: 0px solid transparent;
	background-color: transparent;
	padding: 0px;
	box-sizing: border-box;
	color: white;
	text-align: left;
	overflow: hidden;
}

/*LEFT INTRO SECTION WRAPPER*/
.left-intro-section__wrapper {
	width: auto;
	height: auto;
	background-color: rgba(26, 26, 26, 0.5);
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	top: 35%;
	transform: translateY(-50%);
}

/*INTRO SECTION HEADING*/
.left-intro-section__heading {
	font-weight: lighter;
	letter-spacing: 3px;
	font-size: 2em;
	text-transform: uppercase;
	color: white;
}

/*INTRO SECTION HR*/
.left-intro-section__hr {
	display: none;
	width: 100%;
	height: 1px;
	margin-top: 20px;
	border: 0px solid transparent;
	background: linear-gradient(0.25turn, transparent, #1a1a1a, transparent);
}

/*SHOP MEN BUTTON*/
.left-intro-section__shop-men {
	width: auto;
	height: 150px;
	background-color: #1a1a1a;
	opacity: 1;
	cursor: pointer;
	text-align: right;
	padding: 40px;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: 2px;
	color: #f2f2f2;
	box-sizing: border-box;
}

/*SHOP WOMEN BUTTON*/
.left-intro-section__shop-women {
	width: auto;
	height: 150px;
	background-color: #666;
	opacity: 1;
	cursor: pointer;
	text-align: right;
	padding: 40px;
	font-size: 1.2em;
	font-weight: 100;
	letter-spacing: 2px;
	color: #f2f2f2;
	box-sizing: border-box;
	margin-top: 10px;
}

/*CITIES WRAPPER*/
.left-intro-section__cities-wrapper {
	width: auto;
	height: auto;
	background-color: transparent;
	position: absolute;
	bottom: 20px;
	text-align: center;
}

/*CITIES*/
.cities-wrapper__cities {
	display: inline-block;	
	color: white;
	font-size: 1em;
	font-weight: 100;
	margin-left: 12px;
	margin-right: 12px;
	cursor: pointer;
}

/*HOME PAGE FEATURED PRODUCTS MAIN WRAPPER*/
.app-main-homepage__featured-prods {
	width: auto;
	height: auto;
	background-color: white;
	padding: 50px;
	display: grid;
	grid-template-columns: repeat(4, 20fr);
	grid-column-gap: 15px;
	grid-row-gap: 40px;
}

/*HOME PAGE FEATURED PRODUCTS INDIVIDUAL PRODUCT DIV*/
.app-main-homepage__featured-product {
	width: auto;
	height: auto;
	text-align: center;
	line-height: 1.4em;
	font-weight: 100;
	letter-spacing: .75px;
	background-color: #ffffff;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
}

/*HOME PAGE FEATURED PRODUCTS INDIVIDUAL PRODUCT IMAGE*/
.featured-prods__indiv-prod {
	width: 100%;
	height: auto;
	margin: 0px auto;
}

/*HOME PAGE FEATURED PRODUCTS INDIVIDUAL PRODUCT IMAGE*/
.indiv-prod__name-wrapper {
	width: 100%;
	height: auto;
	background-color: #eee;
	padding: 5px 10px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0px;
}

/*HOME PAGE FEATURED PRODUCTS INDIVIDUAL PRODUCT NAME*/
.indiv-prod__name {	
	font-weight: 300;
}

/*HOME PAGE FEATURED PRODUCTS INDIVIDUAL PRODUCT PRICE*/
.indiv-prod__price {	
	font-weight: 500;
}

/*CART PAGE*/
.app-main-cart {
	width: auto;
	height: 100vh;
	padding: 100px 50px;
	background-color: #eee;
}






















