/*THIS STYLESHEET USES THE BEM ARCHITECTURE*/

html, body {
  margin: 0px;
  padding: 0px;
  background: #eee;
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
  overflow-x: hidden;
}

/*INPUT AND BUTTON FOCUS STYLES*/
input:focus {
	outline: 1px dotted white;
}

button:focus {
	outline: 1px dotted white;
}

p:focus {
	outline: 1px dotted white;
}

li:focus {
	outline: 1px dotted white;
}

i:focus {
	outline: 1px dotted white;
}

a:focus {
	outline: 1px dotted white;
}